* {
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.jumbotron {
  background-image: url("images/river.jpg");
  background-size: cover;
  height: 100%;}

.card-img-top {
  width: 290px;
  height: 190px;
}

.list-group {
  color:gray;
  bg: white;
  border-color: black;
  justify-content: center;
}

.list-group-item{
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
}

