* {
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.background-color{
  background-color: #fed3a8;
}

.jumbotron {
  background-image: url("images/river.jpg");
  background-size: cover;
  height: 100%;}

.card {
  background-color: #fed3a8;
  border: none;
  border-radius: 20%
}

.card-img-top {
  max-width: 290px;
  height: 190px;
}

.list-group {
  list-style: none;
  color:gray;
  bg: white;
  border-color: black;
  justify-content: center;
}

.list-group-item{
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
}

